
@{
    ViewBag.Title = "Datenimport";
    Layout = "~/Views/Shared/_LayoutBE.cshtml";
}

<h2>Datenimport</h2>

@using (Html.BeginForm("XMLImport2", "Datenimport", FormMethod.Post, new { enctype = "multipart/form-data", runat = "server", data_ajax = "false" }))
{
    @Html.AntiForgeryToken()

  <div class="form-horizontal">
    <div class="form-group">
      <div class="col-md-6">
        <input type="file" name="xmlFile" accept="text/xml" />
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Import Data" class="btn btn-default" />
      </div>
    </div>
  </div>
}
@{
  Html.RenderPartial("_Success");
  Html.RenderPartial("_Error");
}
